In [1]:
import pandas as pd
import numpy as np
from collections import Counter
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction import DictVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

In [4]:
data = pd.read_csv('data/data.csv')
#data = pd.read_csv('data/PoPCites2.csv',usecols = '')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Cites           200 non-null    int64
 1   Authors         200 non-null    object
 2   Title           200 non-null    object
 3   Year            200 non-null    int64
 4   Source          183 non-null    object
 5   Publisher       200 non-null    object
 6   ArticleURL      200 non-null    object
 7   CitesURL        200 non-null    object
 8   GSRank          200 non-null    int64
 9   QueryDate       200 non-null    object
 10  Type            37 non-null     object
 11  DOI             0 non-null      float64
 12  ISSN            0 non-null      float64
 13  CitationURL     0 non-null      float64
 14  Volume          0 non-null      float64
 15  Issue           0 non-null      float64
 16  StartPage       0 non-null      float64
 17  EndPage         0 non-null      float64
 18  ECC             200 non-null    int64
 19  CitesPerYear    200 non-null    float64
 20  CitesPerAuthor  200 non-null    int64
 21  AuthorCount     200 non-null    int64
 22  Age             200 non-null    int64
 23  Abstract        200 non-null    object
dtypes: float64(8), int64(7), object(9)
memory usage: 37.6+ KB

In [92]:
#Funktionen
def Count(data,count):
    cnt = Counter()
    for item in data: 
        cnt[item] += 1
    return cnt.most_common(count)

def CountWords(data,count):
    cnt = Counter()
    #Pandas.Series durchlaufen um die Title zu bekommen
    for index, value in data.items():
        words = value.split(' ')
        #Title in Wörter teilen
        for word in words:
            #Aussortieren der Stopwords
            if not word in stopwords:
                #Für bestimmte Begriffe
                #for word in wordlist:
                cnt[word] += 1
    return cnt.most_common(count)

def CountToTfidf(counts):
    transformer = TfidfTransformer(smooth_idf=False)
    
    #Gewichtet die CountMatrix
    tfidf = transformer.fit_transform(counts)

    #Gibt Array zurück
    return tfidf.toarray()


def TfidfVector(data):
    vectorizer = TfidfVectorizer()
    X = vectorizer.fit_transform(data)
    print(vectorizer.get_feature_names())
    print(X.toarray())
    
def CountVector(data):
    vectorizer = CountVectorizer()
    X = vectorizer.fit_transform(data)
    print(vectorizer.get_feature_names())
    return X.toarray()
    
def TitleFilteredByYear(data,year):
    databyyear = data['Title'].loc[data['Year'] == year]
    return databyyear

def CountWordsByYear(data,year):
    #d = Pandas.Series
    d = TitleFilteredByYear(data,year)
    l = CountWords(d,30)
    #Gibt List zurück
    return l

In [93]:
#Variablen erstellen
title = data['Title']
publisher = data['Publisher']
year = data['Year']

wordlist = [
    'DevOps',
    'engineering',
    'Software',
    'Engineering',
    'software'
    
]
stopwords =[
    'this',
    'is ',
    'none',
    'in',
    'of',
    'A',
    'a',
    'and',
    'for',
    'with',
    'on',
    'the',
    'to',
    'an'
    
]

In [94]:
#Zählen der Publisher
lst = Count(publisher,10)
#lst

#for x in data:
 #   print(x)

In [95]:
l1 = CountWordsByYear(data,2017)
a = []
for letter, count in l1:
    a.append(count)
print(a)
l1

[54, 52, 11, 7, 6, 5, 4, 4, 4, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2]

[('software', 54),
 ('engineering', 52),
 ('Software', 11),
 ('engineering:', 7),
 ('systematic', 6),
 ('analysis', 5),
 ('Engineering', 4),
 ('from', 4),
 ('research', 4),
 ('study', 4),
 ('Teaching', 4),
 ('data', 4),
 ('methods', 3),
 ('empirical', 3),
 ('challenges', 3),
 ('industry', 3),
 ('experience', 3),
 ('Applying', 3),
 ('using', 3),
 ('education', 3),
 ('mapping', 3),
 ('course', 3),
 ('de', 3),
 ('based', 3),
 ('use', 2),
 ('directions', 2),
 ('What', 2),
 ('capstone', 2),
 ('The', 2),
 ('case', 2)]

In [96]:
l2 = CountWordsByYear(data,2018)
l2

[('software', 70),
 ('engineering', 56),
 ('research', 10),
 ('engineering:', 10),
 ('Software', 9),
 ('The', 6),
 ('learning', 6),
 ('using', 6),
 ('systematic', 5),
 ('study', 5),
 ('Engineering', 5),
 ('search-based', 5),
 ('from', 5),
 ('data', 5),
 ('continuous', 5),
 ('On', 4),
 ('based', 4),
 ('mapping', 4),
 ('An', 4),
 ('knowledge', 4),
 ('project', 4),
 ('tools', 3),
 ('education', 3),
 ('experience', 3),
 ('approaches', 3),
 ('Towards', 3),
 ('model', 3),
 ('practice', 3),
 ('empirical', 3),
 ('What', 3)]

In [97]:
l3 = CountWordsByYear(data,2019)
l3

[('software', 40),
 ('engineering', 36),
 ('study', 9),
 ('Software', 8),
 ('systematic', 8),
 ('mapping', 6),
 ('engineering:', 5),
 ('literature', 4),
 ('case', 3),
 ('analysis', 3),
 ('studies', 3),
 ('education', 3),
 ('practices', 3),
 ('empirical', 3),
 ('design', 3),
 ('from', 3),
 ('machine', 2),
 ('systems', 2),
 ('industrial', 2),
 ('Sethesaurus:', 2),
 ('Wordnet', 2),
 ('progression', 2),
 ('model', 2),
 ('goals,', 2),
 ('challenges,', 2),
 ('start-ups', 2),
 ('Engineering', 2),
 ('reviews', 2),
 ('Cerse-catalog', 2),
 ('research', 2)]

In [98]:
l4 = CountWordsByYear(data,2020)
l4

[('software', 9),
 ('engineering', 8),
 ('Software', 8),
 ('Engineering', 7),
 ('events', 6),
 ('systematic', 3),
 ('review', 2),
 ('Research', 2),
 ('Modeling', 2),
 ('literature', 2),
 ('reviews', 2),
 ('Sampling', 1),
 ('research:', 1),
 ('critical', 1),
 ('guidelines', 1),
 ('practical', 1),
 ('guide', 1),
 ('conducting', 1),
 ('eye', 1),
 ('tracking', 1),
 ('studies', 1),
 ('Action', 1),
 ('When', 1),
 ('update', 1),
 ('Sustainability', 1),
 ('Education:', 1),
 ('case', 1),
 ('general', 1),
 ('professional', 1),
 ('competencies', 1)]

In [128]:
df1 = pd.DataFrame.from_dict(l1)
df1 = df1.rename(columns={ 0:'word',1:'2017'})
df1 = df1.set_index('word')
df1

              2017
word
software        54
engineering     52
Software        11
engineering:     7
systematic       6
analysis         5
Engineering      4
from             4
research         4
study            4
Teaching         4
data             4
methods          3
empirical        3
challenges       3
industry         3
experience       3
Applying         3
using            3
education        3
mapping          3
course           3
de               3
based            3
use              2
directions       2
What             2
capstone         2
The              2
case             2

In [124]:
df2 = pd.DataFrame.from_dict(l2)
df2 = df2.rename(columns={ 0:'word',1:'2018'})
df2 = df2.set_index('word')
df2

              2018
word
software        70
engineering     56
research        10
engineering:    10
Software         9
The              6
learning         6
using            6
systematic       5
study            5
Engineering      5
search-based     5
from             5
data             5
continuous       5
On               4
based            4
mapping          4
An               4
knowledge        4
project          4
tools            3
education        3
experience       3
approaches       3
Towards          3
model            3
practice         3
empirical        3
What             3

In [133]:
dftest = df1.merge(df2, how='inner', on='word')

In [134]:
dftest

              2017  2018
word
software        54    70
engineering     52    56
Software        11     9
engineering:     7    10
systematic       6     5
Engineering      4     5
from             4     5
research         4    10
study            4     5
data             4     5
empirical        3     3
experience       3     3
using            3     6
education        3     3
mapping          3     4
based            3     4
What             2     3
The              2     6

In [12]:
#data2018 = TitleFilteredByYear(data,2018)
#data['Cites'].plot.bar()

In [136]:
CountToTfidf(dftest)

array([[0.61080345, 0.79178226],
       [0.6804511 , 0.73279349],
       [0.7739573 , 0.63323779],
       [0.57346234, 0.81923192],
       [0.76822128, 0.6401844 ],
       [0.62469505, 0.78086881],
       [0.62469505, 0.78086881],
       [0.37139068, 0.92847669],
       [0.62469505, 0.78086881],
       [0.62469505, 0.78086881],
       [0.70710678, 0.70710678],
       [0.70710678, 0.70710678],
       [0.4472136 , 0.89442719],
       [0.70710678, 0.70710678],
       [0.6       , 0.8       ],
       [0.6       , 0.8       ],
       [0.5547002 , 0.83205029],
       [0.31622777, 0.9486833 ]])

In [81]:
#data2018